.wh100 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.slider {
  --track-height: 2.5rem;
  --track-gradient-top: #060606;
  --track-gradient-bottom: #282828;
  --track-border-width: 1px;
  --track-border-gradient-top: #313131;
  --track-border-gradient-bottom: #737373;
  --track-border-radius: 10px;

  height: var(--track-height);
  width: 100%;
  max-width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .range {
    opacity: 0;
  }

  .track {
    height: var(--track-height);
    top: calc(50% - (var(--track-height) / 2));
    background: linear-gradient(to bottom, var(--track-gradient-top), var(--track-gradient-bottom));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    background-clip: padding-box;
    border: solid var(--track-border-width) transparent;
    border-radius: var(--track-border-radius);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: calc(var(--track-border-width) * -1);
      border-radius: inherit;
      background: linear-gradient(
        to bottom,
        var(--track-border-gradient-top),
        var(--track-border-gradient-bottom)
      );
    }
  }

  .text {
    appearance: none;
    background: none;
    border: none;
    outline: none;

    &:focus-visible {
      outline: revert;
    }
    text-shadow: none;
    background-size: 200% 100%;
    background-clip: text;
    color: transparent;
    width: 100%;
    margin-left: 3rem;
    margin-bottom: 1px;
    text-align: center;
    font-weight: 200;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &.animated {
      background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0.3) 65%
      );
      animation: shine 2.4s linear infinite;
    }
    &.static {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  /* Sets size of the element and bounds for thumb movement */
  .bounds {
    flex: 1 1;
    position: relative;
    height: 100%;
    pointer-events: none;
  }

  .thumb {
    pointer-events: auto;
    position: absolute;
    top: calc(50% - (var(--track-height) / 2));
    bottom: 0;
    left: 0;
    height: var(--track-height);
    padding: 0;
    margin: 0;
    user-select: none;
  }
}

@keyframes shine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
