.slider {
  --range-percent: 50%;
  --knob-size: 2rem;
  --track-height: 0.75rem;
  --track-gradient-top: hsl(0 0 0 / 0.1);
  --track-gradient-bottom: hsl(0 0 0 / 0.05);
  --track-border-top-width: 0px;
  --track-border-top-color: black;
  --track-border-bottom-width: 0px;
  --track-border-bottom-color: black;
  --track-border-side: 0px solid transparent;
  --progress-gradient-top: #e5e6e7;
  --progress-gradient-bottom: #949596;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  .range {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: 0;
  }

  .icing {
    pointer-events: none;
    flex: 1 1;
    position: relative;
    height: 100%;
  }

  .track {
    height: var(--track-height);
    position: absolute;
    top: calc(50% - (var(--track-height) / 2));
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      to bottom,
      var(--track-gradient-top),
      var(--track-gradient-bottom)
    );
    border-radius: 999px;
    border-left: var(--track-border-side);
    border-right: var(--track-border-side);
    border-bottom: var(--track-border-bottom-width) solid
      var(--track-border-bottom-color);
    border-top: var(--track-border-top-width) solid
      var(--track-border-top-color);
  }

  .progress {
    height: var(--track-height);
    position: absolute;
    top: calc(50% - (var(--track-height) / 2) + var(--track-border-top-width));
    left: 0;
    width: var(--range-percent);
    background: linear-gradient(
      to bottom,
      var(--progress-gradient-top),
      var(--progress-gradient-bottom)
    );
    border-radius: 999px;
  }

  .knob {
    pointer-events: none;
    position: absolute;
    top: calc(50% - (var(--knob-size) / 2));
    bottom: 0;
    left: var(--range-percent);
    right: 0;
    /* Three gradients to achieve the metal knob look:
   * 1. A soft lightened border
   * 2. Light shine effect in quadrants 
   * 3. Circular bezel lines */
    background-image:
      radial-gradient(
        circle at center,
        transparent 67%,
        hsl(0 0 100% / 0.7) 70%
      ),
      conic-gradient(
        white 0deg 10deg,
        transparent 80deg 100deg,
        white 170deg 190deg,
        transparent 260deg 280deg,
        white 350deg 360deg
      ),
      repeating-radial-gradient(
        circle at center,
        hsl(0 0 50%),
        hsl(0 0 45%),
        hsl(0 0 50%) 6%
      );
    border-radius: 50%;
    width: var(--knob-size);
    height: var(--knob-size);
    margin: 0 calc(var(--knob-size) / -2);
  }
}
