.tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  background: linear-gradient(0deg, #dbdce1 0%, #f3f4f4 100%);
  border-right-color: #efeff2;
  border-left-color: #b1b1b5;
  border-width: 0px 3px;
}

.tab.selected {
  background: linear-gradient(
      0deg,
      rgba(219, 220, 225, 0.5) 0%,
      rgba(243, 244, 244, 0.5) 100%
    ),
    radial-gradient(
      circle,
      rgba(221, 221, 222, 0.5) 0%,
      rgba(168, 168, 168, 0.5) 100%
    );
}
