.login-container {
  padding: 2rem;
  display: flex;
  flex: 1 1;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: radial-gradient(circle at 50% 30%, #7b7b7b, #000 80%);

  h1 {
    font-size: 4em;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to bottom, #f5f5f5, #d7d5d5);
    text-shadow: none;
    -webkit-text-stroke: 0.5px #ebebeb;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
    font-weight: 500;
  }

  img.music-icon {
    margin-bottom: 2rem;
  }
}
