header.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.625rem;
  flex: 0 0 auto;
  z-index: 2;
  color: var(--header-font-color);
  background: linear-gradient(
    180deg,
    var(--header-gradient-top) 0%,
    var(--header-gradient-bottom) 100%
  );
  box-shadow: 0px var(--i-2px) calc(var(--i-px) * 8) 0px
    var(--navbar-shadow-color);
  padding: 0 var(--spacer-2);
}

header > .header-button {
  flex: 1 2;
  display: flex;

  &.left {
    justify-content: start;
  }

  &.right {
    justify-content: end;
  }
}

header > h1 {
  flex: 2 1;
  text-align: center;
}
