.section-header {
  align-items: center;
  background: linear-gradient(
    180deg,
    var(--list-section-gradient-top),
    var(--list-section-gradient-bottom)
  );
  color: var(--list-section-font-color);
  display: flex;
  font-weight: 800;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
}

.section-header-border {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: var(--spacer-1) var(--spacer-2);
  border-top: var(--emboss-border-style) var(--list-section-emboss-top);
  border-bottom: var(--emboss-border-style) var(--list-section-emboss-bottom);
}

.list-section {
  padding: 0;
}

.list-footer {
  display: flex;
  justify-content: center;
  padding: var(--spacer-3);
}

.list-item {
  height: var(--list-item-height);
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: var(--list-item-font-color);

  .thumb {
    height: 100%;
    aspect-ratio: 1;
    box-sizing: border-box;
  }

  .item-text {
    flex-grow: 1;
    padding: var(--spacer-3);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .item-link {
    height: 100%;
    flex-grow: 1;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.list-item > button {
  flex-grow: 1;
}

.content-scroll:has(+ nav.alphabet-index) {
  .list-item {
    padding-right: var(--spacer-4);
  }
}
