/* TODO: check if these could be opacity-based */

.emboss-y {
  border-top: var(--emboss-border-top);
  border-bottom: var(--emboss-border-bottom);
}

.emboss-x {
  border-left: var(--emboss-border-left);
  border-right: var(--emboss-border-right);
}
