body {
  font-family:
    Inter Variable,
    sans-serif;
  font-weight: bold;
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

h2,
.h2 {
  font-size: 1.375rem;
}

small {
  font-size: 0.75rem;
}

.subtitle {
  font-size: 0.875rem;
  font-weight: 300;
}
