.outline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--player-overlay-height);
  border-top: 1px solid hsl(0 0 15% / 0.75);
  border-bottom: 2px solid hsl(0 0 0 / 0.65);
  z-index: 1;
}

.background {
  height: 100%;
  width: 100%;
  background:
    linear-gradient(
      to bottom,
      hsl(0 0 100% / 0.1),
      transparent 30% 70%,
      hsl(0 0 100% / 0.1)
    ),
    hsl(0 0 0 / 0.65);

  border-top: 1px solid;
  border-bottom: 2px solid;
  border-image: radial-gradient(
      circle at center,
      hsl(0 0 100% / 0.3),
      transparent
    )
    1;
  box-sizing: border-box;
  padding: 0 1rem;
}

.row {
  display: flex;
  justify-content: center;
}

.track-number {
  color: var(--player-overlay-track-number-color);
  padding-top: 0.25rem;
}

.shuffle-repeat {
  justify-content: space-between;
  margin-top: 0.5rem;
}
