@import "./styles/alphabet-index.css";
@import "./styles/skeuomorphic.css";
@import "./styles/forms.css";
@import "./styles/header.css";
@import "./styles/list.css";
@import "./styles/login.css";
@import "./styles/navbar.css";
@import "./styles/nav-arrow.css";
@import "./styles/page-msg.css";
@import "./styles/player.css";
@import "./styles/search.css";
@import "./styles/text.css";
@import "./styles/utils.css";
@import "./styles/variables.css";
@import "./styles/view-transitions.css";

:root {
  background-color: var(--bg-color);
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  text-shadow: var(--text-emboss-glow);
  caret-color: #426bf2;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  padding: var(--spacer-2);
  list-style-type: none;
  margin: 0;
}

button {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  color: var(--text-color);
  cursor: pointer;
  background-color: transparent;
}
