.container {
  display: flex;
}

.timestamp {
  color: var(--player-overlay-track-timestamp-color);
  font-size: 0.875rem;
  width: 2rem;

  &.left {
    text-align: right;
    margin-right: 0.5rem;
  }

  &.right {
    text-align: left;
    margin-left: 0.5rem;
  }
}

.timeline-container {
  flex: 1 1;
  display: flex;
  align-items: center;
}

.timeline {
  --track-border-top-width: 2px;
  --track-border-top-color: hsl(0 0 0 / 0.9);
  --track-gradient-top: hsl(0 0 45% / 0.95);
  --track-gradient-bottom: hsl(0 0 15% / 0.95);
  --knob-size: 1.5rem;
}
