:root {
  --bg-color: #e9eaec;
  --text-color: #414244;
  --text-color-light: #969696;
  --icon-color: #a3a3a3;
  --shadow-light: rgba(255, 255, 255, 0.75);
  --shadow-dark: rgb(109, 109, 109, 0.75);
  --half-grey: rgba(168, 168, 168, 0.5);
  --emboss-offset: 3px;
  --emboss-blur: 3px;
  --spacer-1: 0.25rem;
  --spacer-2: 0.5rem;
  --spacer-3: 1rem;
  --spacer-4: 2rem;

  background-color: var(--bg-color);
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  font-family:
    Inter Variable,
    sans-serif;
  font-weight: bold;
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
  margin: 0;
  box-sizing: border-box;

  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-frame {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.625rem;
  z-index: 2;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

h2,
.h2 {
  font-size: 1.375rem;
}

small {
  font-size: 0.75rem;
}

.subtitle {
  font-size: 0.875rem;
  font-weight: 300;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul,
ul {
  margin: 0;
  padding: 0;
}

li {
  padding: var(--spacer-2);
  list-style-type: none;
  margin: 0;
}

.bar {
  background: linear-gradient(0deg, #d2d2d2 0%, #f3f4f4 100%);
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  padding: 0;
}

.d-none {
  display: none;
}

/* Two, three, or four <length> values.
    If only two values are given, they are interpreted as <offset-x> and <offset-y> values.
    If a third value is given, it is interpreted as a <blur-radius>.
    If a fourth value is given, it is interpreted as a <spread-radius>.
 */

.emboss-y {
  box-shadow:
    inset 0 3px 3px -3px var(--shadow-light),
    inset 0 -3px 3px -3px var(--shadow-dark);
}

.emboss-x {
  box-shadow:
    inset 3px 0 3px -3px var(--shadow-dark),
    inset -3px 0 3px -3px var(--shadow-light);
}

.engrave-x {
  box-shadow:
    inset 3px 0 3px -3px var(--shadow-light),
    inset -3px 0 3px -3px var(--shadow-dark);
}

/* .engrave */

.page-msg-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.page-msg {
  color: var(--text-color-light);
  font-weight: 300;
  font-size: 1.5rem;
}

.tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.125rem;

  > small {
    padding: var(--spacer-1);
    align-self: flex-end;
  }
}

.tab.selected {
  background:
    linear-gradient(
      0deg,
      rgba(219, 220, 225, 0.5) 0%,
      rgba(243, 244, 244, 0.5) 100%
    ),
    radial-gradient(circle, rgba(221, 221, 222, 0.5) 0%, var(--half-grey) 100%);
}

.list-item {
  height: 3.625rem;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;

  .thumb {
    height: 100%;
    aspect-ratio: 1;
    border: 1px solid transparent;
    box-sizing: border-box;
  }

  .item-text {
    flex-grow: 1;
    padding: var(--spacer-3);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .item-link {
    height: 100%;
    flex-grow: 1;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.content-scroll:has(+ nav.alphabet-index) {
  .list-item {
    padding-right: var(--spacer-4);
  }
}

.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.p-2 {
  padding: var(--spacer-2);
}

.py-2 {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
}

.p-3 {
  padding: var(--spacer-3);
}

.px-3 {
  padding-left: var(--spacer-3);
  padding-right: var(--spacer-3);
}

.content-scroll {
  overflow-y: auto;
  flex: 1 0;
  display: flex;
  flex-direction: column;
}

.alphabet-indicator {
  align-items: center;
  background-color: #c4c5c7;
  color: #58595b;
  display: flex;
  font-weight: 800;
  padding: var(--spacer-1) var(--spacer-2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.alphabet-sublist {
  padding: 0;
}

.alphabet-footer {
  display: flex;
  justify-content: center;
  padding: var(--spacer-3);
}

nav.alphabet-index {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding: var(--spacer-2) 0;
  margin-top: var(--spacer-4);
  margin-bottom: var(--spacer-2);
  margin-right: var(--spacer-2);
  border: 1px solid transparent;
  border-radius: 9999px;
  transition: background-color 0.15s;

  > ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  > ul > li {
    user-select: none;
    -webkit-user-select: none;
    padding: 0;
    flex-grow: 1;
    margin: -0.125rem 0;
  }

  > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 var(--spacer-2);
  }

  &:hover {
    background-color: var(--half-grey);
  }

  &.jumping {
    background-color: var(--shadow-dark);
  }
}

.search-container {
  flex: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  padding: var(--spacer-2) 2.25rem;
  margin: var(--spacer-1);
  border: 1px solid #ddd;
  border-radius: 9999px;
  font-size: var(--spacer-3);
  outline: none;
  transition: border-color 0.2s;
  flex: 1;
}

.search-icon {
  color: var(--icon-color);
  position: absolute;
  left: 0.75rem;
}

.search-clear-button {
  color: var(--icon-color);
  position: absolute;
  right: 0.75rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
