:root {
  --bg-color: #e9eaec;
  --text-color: #414244;
  --text-color-light: #969696;
  --icon-color: #a3a3a3;
  --shadow-light: rgba(255, 255, 255, 0.75);
  --shadow-dark: rgb(109, 109, 109, 0.75);
  --emboss-offset: 3px;
  --emboss-blur: 3px;

  background-color: var(--bg-color);
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  font-family: Inter Variable, sans-serif;
  font-weight: bold;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.625rem;
  z-index: 2;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

h2,
.h2 {
  font-size: 1.375rem;
}

small {
  font-size: 0.75rem;
}

.page {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > .content {
    overflow-y: auto;
    flex: 1 0;
    display: flex;
    flex-direction: column;
  }
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  padding: 8px;
  list-style-type: none;
  margin: 0;
}

.bar {
  background: linear-gradient(0deg, #d2d2d2 0%, #f3f4f4 100%);
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  padding: 0;
}

.d-none {
  display: none;
}

/* Two, three, or four <length> values.
    If only two values are given, they are interpreted as <offset-x> and <offset-y> values.
    If a third value is given, it is interpreted as a <blur-radius>.
    If a fourth value is given, it is interpreted as a <spread-radius>.
 */

.emboss-y {
  box-shadow: inset 0 3px 3px -3px var(--shadow-light),
    inset 0 -3px 3px -3px var(--shadow-dark);
}

.emboss-x {
  box-shadow: inset 3px 0 3px -3px var(--shadow-dark),
    inset -3px 0 3px -3px var(--shadow-light);
}

.engrave-x {
  box-shadow: inset 3px 0 3px -3px var(--shadow-light),
    inset -3px 0 3px -3px var(--shadow-dark);
}

/* .engrave */
