:root {
  --bg-color: #e9eaec;
  --text-color: #414244;
  --shadow-light: white;
  --shadow-dark: #858585;
  --emboss-offset: 3px;
  --emboss-blur: 3px;

  background-color: var(--bg-color);
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  font-family: Inter Variable, sans-serif;
  font-weight: bold;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  font-display: swap;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

.page {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > .content {
    overflow-y: auto;
    flex: 1 0;
  }
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 8px;
  list-style-type: none;
  margin: 0;
}

.bar {
  background: linear-gradient(0deg, #dbdce1 0%, #f3f4f4 100%);
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  padding: 0;
}

/* Two, three, or four <length> values.
    If only two values are given, they are interpreted as <offset-x> and <offset-y> values.
    If a third value is given, it is interpreted as a <blur-radius>.
    If a fourth value is given, it is interpreted as a <spread-radius>.
 */

.emboss-y {
  box-shadow: inset 0 5px 5px -5px var(--shadow-light),
    inset 0 -5px 5px -5px var(--shadow-dark);
}

.emboss-x {
  box-shadow: inset 5px 0 5px -5px var(--shadow-dark),
    inset -5px 0 5px -5px var(--shadow-light);
}

.engrave-x {
  box-shadow: inset 5px 0 5px -5px var(--shadow-light),
    inset -5px 0 5px -5px var(--shadow-dark);
}

/* .engrave */
