.container {
  display: flex;
  position: relative;
}

.art {
  max-width: 100%;
  aspect-ratio: 1;
}

.reflection {
  position: absolute;
  top: 100%;
  max-width: 100%;
  left: 0;
  aspect-ratio: 1;
  transform: scaleY(-1);
  pointer-events: none;
  opacity: 0.5;
}
